.container {
  
   
    width: 100%;
    white-space: nowrap;
    animation: scroll 20s linear ;
}

.container img {
    width: 150px;
    height: 160px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 20px;
  ;
}
.scroll{
    background-color: black;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
}

100%{
    transform: translateX(-100%);
}
}
/* 
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    6.25% {
        transform: translateX(-100%);
    }
    12.5% {
        transform: translateX(-200%);
    }
    18.75% {
        transform: translateX(-300%);
    }
    25% {
        transform: translateX(-400%);
    }
    31.25% {
        transform: translateX(-500%);
    }
    37.5% {
        transform: translateX(-600%);
    }
    43.75% {
        transform: translateX(-700%);
    }
    50% {
        transform: translateX(-800%);
    }
    56.25% {
        transform: translateX(-900%);
    }
    62.5% {
        transform: translateX(-1000%);
    }
    68.75% {
        transform: translateX(-1100%);
    }
    75% {
        transform: translateX(-1200%);
    }
    81.25% {
        transform: translateX(-1300%);
    }
    87.5% {
        transform: translateX(-1400%);
    }
    93.75% {
        transform: translateX(-1500%);
    }
    100% {
        transform: translateX(0%);
    }
} */